.button-parent {
  text-align: center;
  width: 100%;
}

.button-inscription {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-inscription:hover,
.button-inscription:active {
  outline: 0;
}

.button-inscription:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-inscription:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-inscription:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-inscription {
    padding: 16px 32px;
  }
}



.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;

}

.container > .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
}

.card h1 {
  font-size: 24px;
}

.card > .title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover, a:hover {
  opacity: 0.7;
}