{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" 
    accept-charset="UTF-8" 
    action="{{ .Get "action" }}"
    data-botpoison-public-key="pk_a2ae1e18-27b7-4b8f-b202-5dae8f66536b"
    method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">{{ i18n "yourName" }}</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
        {{ i18n "nameRequiredNote" }}
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ i18n "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      {{ i18n "emailRequiredNote" }}
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="company">{{ i18n "yourCompany" }}</label>
    <input type="text" id="company" name="company" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="company"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
        {{ i18n "companyRequiredNote" }}
    </div>

    <br />    
    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="selected_workshop">Veuillez sélectionner l'atelier auquel vous souhaitez participer :</label>
    <input type="radio" id="atelier-janvier" name="selected_workshop" value="25-01-2024" required>
    <label for="atelier-janvier">25 janvier 2024, 8h45 à 12h30. Ouvert à tous secteurs.</label><br>
    <input type="radio" id="atelier-fevrier" name="selected_workshop" value="15-02-2024"  required>
    <label for="atelier-fevrier">15 février 2024, 8h45 à 12h30. Dédié au secteur du transport</label><br>
    <input type="radio" id="atelier-mars" name="selected_workshop" value="21-03-2024"  required>
    <label for="atelier-mars">21 mars 2024, 8h45 à 12h30. Ouvert à tous secteurs.</label><br>
    <input type="radio" id="atelier-avril" name="selected_workshop" value="18-04-2024" required>
    <label for="atelier-avril">18 avril 2024, 8h45 à 12h30. Dédié aux secteurs de la banque & assurance</label><br>
    <input type="radio" id="atelier-mai" name="selected_workshop" value="16-05-2024" required>
    <label for="atelier-mai">16 mai 2024, 8h45 à 12h30. Ouvert à tous secteurs.</label><br>
    <input type="radio" id="atelier-juin" name="selected_workshop" value="20-06-2024" required>
    <label for="atelier-juin">20 juin 2024, 8h45 à 12h30. Dédié aux collectivités</label><br>


    <br />
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="lunch">{{ i18n "lunch" }}</label>
    <select name="lunch" required>
        <option value="" selected></option>
        <option value="oui">Oui</option>
        <option value="non">Non</option>
    </select>

    <br />
    <br />
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">{{ i18n "animator" }}</label>
    <input type="text" id="animator" name="animator" class="{{ $.Scratch.Get "inputClasses" }}"  placeholder=" "  aria-labelledby="animator"/>
    
    
    <br />    
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">{{ i18n "customMessage" }}</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

    <input type="checkbox" name="coucou-les-bots" style="display:none" tabindex="-1" autocomplete="off"  />
    
    <input type="hidden" name="_redirect" value="{{ absURL "/thanks" }}" />
    <input type="hidden" name="_append" value="false" />

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black" type="submit" value="{{ i18n "send" }}" />

</form>
