<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
  <div class="card">
    <img src="olivia.jpg" alt="Olivia" style="width:100%">
    <h1>Olivia Alvarez-Guilbaud</h1>
    <p class="title">Dirigeante engagée de l'agence Machin Bidule</p>
    <p>Machin Bidule</p>
    <a href="https://fr.linkedin.com/in/olivia-alvarez-guilbaud-103891113"><i class="fa fa-linkedin"></i></a>
    <p><button>Me contacter</button></p>
  </div>
  <div class="card">
    <img src="giulia.jpg" alt="Giulia" style="width:100%">
    <h1>Giulia Desrues</h1>
    <p class="title">Consultante RSE & Développement Durable</p>
    <p>Auto-entrepreneuse</p>
    <a href="https://fr.linkedin.com/in/giuliadesrues"><i class="fa fa-linkedin"></i></a>
    <p><button>Me contacter</button></p>
  </div>
  <div class="card">
    <img src="benoit.jpg" alt="Benoit" style="width:100%">
    <h1>Benoit Planchenault</h1>
    <p class="title">Consultant en Transition Ecologique</p>
    <p>Auto-entrepreneur</p>
    <a href="https://fr.linkedin.com/in/benoit-planchenault"><i class="fa fa-linkedin"></i></a>
    <p><button>Me contacter</button></p>
  </div>
  <div class="card">
    <img src="david.jpg" alt="David" style="width:100%">
    <h1>David Heinzer</h1>
    <p class="title">Responsable architecte API et GreenIT</p>
    <p>Edenred</p>
    <a href="https://fr.linkedin.com/in/davidheinzer"><i class="fa fa-linkedin"></i></a>
    <p><button>Me contacter</button></p>
  </div>
</div>